<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo2.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/e0b4e5cac3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Dulce Canela: Inicio</title>
</head>

<body class="home">
    <header id="top" class="home__header">
        <!-- BARRA SUPERIOR -->
        <div class="home__header--sup">
            <div>
                <a href=""><span class="home__header--span"><i
                            class="fa-solid fa-location-dot home__header--i"></i>Calle 123, San Santus</span></a>
                <a href="#dire"><span id="ubic"><i class="fa-solid fa-location-dot"></i>Ubicación</span></a>
                <a href="#dire"><span class="home__header--span"><i
                            class="fa-solid fa-clock  home__header--i"></i>Horarios</span></a>
            </div>
            <div>
                <span class="home__header--span"><i class="fa-solid fa-phone  home__header--i"></i>+54 011
                    45621489</span>
                <a href="#dire"><span id="cont"><i class="fa-solid fa-phone"></i>Contacto</span></a>
                <a href="#dire"><span class="home__header--span"><i
                            class="fa-brands fa-instagram  home__header--i"></i>Redes</span></a>
            </div>
        </div>
        <!-- NAvEGACION -->
        <label for="check"><i class="fa-solid fa-bars home__header__nav--i"></i></label>
        <input type="checkbox" name="check" id="check">
        <nav class="home__header__nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/detalle">Detalle</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/carrito">Carrito</a></li>
                <li><a href="/registro">Registro</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
            <!-- LOGO -->
            <img class="home__header__nav--logo" src="/images/logo.png" alt="">
        </nav>
        <!-- IMAGEN DE FONDO Y H1 -->
        <div class="home__header__h1">
            <h1>dulce canela almacén natural</h1>
        </div>
        <!-- CARRITO -->
        <div class="home__header__carrito">
            <label for="cart"><i class="fa-solid fa-cart-arrow-down home__header__cart--i"></i></label>
            <input type="checkbox" name="" id="cart">
            <div class="home__header__cart">
                <label for="cart"><i class="fa-solid fa-xmark home__header__cart--ix "></i></label>
                <hr class="cart__hr">
                <p>Mi Carrito</p>
                <!-- CADA ARTICLE ES UN PRODUCTO SELECCIONADO EN CARRITO -->
                <article class="home__header__cart--prod">
                    <img src="/images/productos/frutos-secos.jpg" alt="">
                    <div class="cart-desc">
                        <div class="cart-nom">
                            <h5>Frutos secos x 500gr</h5>
                            <i class="fa-solid fa-trash-can"></i>
                        </div>
                        <div class="cart-cant">
                            <div class="cart-cant-controles">
                                <i class="fa-solid fa-minus"></i>
                                <input type="number" name="" id="">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                            <h5>$ 2250</h5>
                        </div>
                    </div>
                </article>
                <article class="home__header__cart--prod">
                    <img src="/images/productos/snacks.jpg" alt="">
                    <div class="cart-desc">
                        <div class="cart-nom">
                            <h5>Snacks x 350gr</h5>
                            <i class="fa-solid fa-trash-can"></i>
                        </div>
                        <div class="cart-cant">
                            <div class="cart-cant-controles">
                                <i class="fa-solid fa-minus"></i>
                                <input type="number" name="" id="">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                            <h5>$ 1050</h5>
                        </div>
                    </div>
                </article>
                <div class="cart-total">
                    <p>total:</p>
                    <p>3300</p>
                </div>
                <a href="/carrito">Comprar</a>
            </div>
        </div>
    </header>
    <main class="home__main">
        <section>
            <!-- BUSQUEDA -->
            <article class="home__main__busq">
                <form action="">
                    <span>Buscar</span>
                    <input type="text" name="" id="">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </form>
            </article>
            <!-- CADA ARTICLE ES UNA CATEGORIA DE PRODUCTO -->
            <article class="home__main__cat">
                <div class="home__main__cat--card">
                    <img src="/images/productos/especias.jpg" alt="">
                    <p>Especias</p>
                    <a href="/productos">Ver más</a>
                </div>
                <div class="home__main__cat--card">
                    <img src="/images/productos/frutos-secos.jpg" alt="">
                    <p>Frutos secos</p>
                    <a href="/productos">Ver más</a>
                </div>
                <div class="home__main__cat--card">
                    <img src="/images/productos/harinas.jpg" alt="">
                    <p>Harinas</p>
                    <a href="/productos">Ver más</a>
                </div>
                <div class="home__main__cat--card">
                    <img src="/images/productos/infusiones.jpg" alt="">
                    <p>infusiones</p>
                    <a href="/productos">Ver más</a>
                </div>
                <div class="home__main__cat--card">
                    <img src="/images/productos/semillas.jpg" alt="">
                    <p>semillas</p>
                    <a href="/productos">Ver más</a>
                </div>
                <div class="home__main__cat--card">
                    <img src="/images/productos/snacks.jpg" alt="">
                    <p>snacks</p>
                    <a href="/productos">Ver más</a>
                </div>
            </article>
        </section>
        <!-- OFERTA DEL DIA -->
        <section class="home__main__ofer">
            <div class="home__main__ofer--div">
                <div>
                    <h3>Ofertas del día</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde cupiditate, necessitatibus minima
                        voluptatibus veniam eius!</p>
                </div>
            </div>
        </section>
        <!-- CARRUSEL -->
        <img class="carousel" src="/images/productos/almacen.jpg" alt="">
    </main>
    <!-- FOOTER -->
    <footer class="footer">
        <!-- COLUMNAS INFO -->
        <section class="footer__section--info">
            <div>
                <h5 class="footer__section--h5">Contacto</h5>
                <p>+54 011 45621489</p>
            </div>
            <hr>
            <div id="dire">
                <h5 class="footer__section--h5">Dirección</h5>
                <p>Calle 123, San Santus</p>
            </div>
            <hr>
            <div>
                <h5 class="footer__section--h5">Horarios</h5>
                <p>Lun-Vie de 8 a 17hs</p>
            </div>
            <hr>
            <div class="footer__section--redes">
                <h5 class="footer__section--h5">Redes</h5>
                <a href="www.instagram.com" target="_blank"><i
                        class="fa-brands fa-instagram-square"></i><span>Instagram</span></a>
                <a href="http//:www.instagram.com" target="_blank"><i
                        class="fa-brands fa-twitter"></i><span>Twitter</span></a>
                <a href="http//:www.instagram.com" target="_blank"><i
                        class="fa-brands fa-facebook"></i><span>Facebook</span></a>
            </div>
        </section>
        <!-- COPYRIGHT + LOGO -->
        <section class="footer__section--copy">
            <a href="#top"><img src="/images/logo.jpg" alt=""></a>
            <p>Copyright 2022 - Dulce Canela</p>
        </section>
    </footer>
</body>

</html>