<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e0b4e5cac3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Inicio</title>
</head>

<body class="home">
    <header class="home__header">
        <!-- BARRA SUPERIOR -->
        <div class="home__header--sup">
            <div>
                <a href=""><span><i class="fa-solid fa-location-dot"></i>Calle 123, San Santus</span></a>
                <a href=""><span id="ubic"><i class="fa-solid fa-location-dot"></i>Ubicación</span></a>
                <a href="#"><span><i class="fa-solid fa-clock"></i>Horarios</span></a>
            </div>
            <div>
                <span><i class="fa-solid fa-phone"></i>+54 011 45621489</span>
                <span id="cont"><i class="fa-solid fa-phone"></i>Contacto</span>
                <span><i class="fa-brands fa-instagram"></i>Redes</span>
            </div>
        </div>
        <!-- NAvEGACION -->
        <label for="check"><i class="fa-solid fa-bars home__header__nav--i"></i></label>
        <input type="checkbox" name="check" id="check">
        <nav class="home__header__nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/detalle">Detalle</a></li>
                <li><a href="/carrito">Carrito</a></li>
                <li><a href="/registro">Registro</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
            <!-- LOGO -->
            <img class="home__header__nav--logo" src="/images/logo.jpg" alt="">
        </nav>
        <!-- IMAGEN DE FONDO Y H1 -->
        <div class="home__header__h1">
            <h1>dulce canela almacén natural</h1>
        </div>
    </header>
    <main>
        <section>
            <!-- NAVEGACION CATEGORIAS -->
            <nav>
                <ul>
                    <li><a href=""></a></li>
                </ul>
            </nav>
            <!-- BUSQUEDA -->
            <article>
                <form action="">
                    <input type="text" name="" id="">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </form>
            </article>
        </section>
        <!-- OFERTA DEL DIA -->
        <section>
            <h3>Ofertas del día</h3>
            <div>
                <img src="" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde cupiditate, necessitatibus minima
                    voluptatibus veniam eius!</p>
            </div>
        </section>
        <!-- CARRUSEL -->
        <img src="" alt="">
    </main>
    <!-- FOOTER -->
    <footer>
        <!-- COLUMNAS INFO -->
        <section>
            <div>
                <h5>Contacto</h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div>
                <h5>Dirección</h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div>
                <h5>Horarios</h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div>
                <h5>Redes</h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </section>
        <!-- COPYRIGHT -->
        <section>
            <img src="" alt="">
            <p>Copyright 2022 - Todos los derechos reservados</p>
        </section>
    </footer>
</body>

</html>