/* BARRA SUPERIOR */
.home__header--sup {
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--colorCinco);
    background: linear-gradient(0deg, rgba(204, 204, 172, 1) 0%, rgba(68, 95, 37, 1) 100%);
}

.home__header--i,
.home__header--span {
    margin: 0 8px 0 15px;
    color: white;
    display: none;

}

#ubic,
#ubic i,
#cont,
#cont i {
    display: inline;
    margin: 0 8px 0 15px;
    color: white;
}

/* NAVBAR */
.home__header {
    background-color: var(--colorPrimario);

}

.home__header__nav {
    position: relative;
    background-color: var(--colorPrimario);

}

.home__header__nav--i {
    color: white;
    font-size: 20px;
    padding: 15px;
}

.home__header__nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-family: var(--fuentePrincipal);
    text-transform: uppercase;
    max-height: 0;
    transition: all 0.5s;
    overflow: hidden;

}

.home__header__nav h3{
    color: var(--colorSecundario);
}

a {
    color: var(--colorSecundario);
}


/* imagen de usuario */
.imagen_de_usuario {
    margin-left: 5px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.imagen_de_usuario img{
    background-size: 32px 32px;
    height: 42px;
    width: 52px;
    border-radius: 50%;
}

/* METODO PARA DESPLEGAR BARRA DE NAV */
#check {
    display: none;
}

#check:checked+.home__header__nav ul {
    max-height: 300px;
}

.home__header__nav ul li:last-child {
    margin-bottom: 55px;
}

/* LOGO */
.home__header__nav--logo {
    width: 100px;
    border-radius: 50%;
    position: absolute;
    right: calc(50% - 50px);
    bottom: -50px;
    cursor: pointer;
}

/* IMAGEN DE FONDO Y H1 */
.home__header__h1 {
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.home__header__h1 h1 {
    font-family: var(--fuentePrincipal);
    color: white;
    padding: 35px;
    text-transform: uppercase;
    font-size: 1.5rem;
}

@media (min-width:768px) {

    /* CAMBIO DE SPAN */
    .home__header--i,
    .home__header--span {
        display: inline;
        font-size: 18px;

    }

    #ubic,
    #ubic i,
    #cont,
    #cont i {
        display: none;
    }

}

@media (min-width:1024px) {
    .home__header__nav--i {
        font-size: 30px;
        padding: 15px;
        margin-left: 100px;
    }

    /* TITULO PRINCIPAL */
    .home__header__h1 h1 {

        font-size: 2rem;
        text-align: center;
    }

    .home__header__h1 {
        background-position: 100% 60%;
    }
}