

.main__login__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main__login {
  background-color: var(--colorPrimario);
}

.main__login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #ccccac80;
  border-radius: 15px;
  margin: 20px 10px;
  color: var(--colorFuenteOscura);
  box-shadow: 0 0 10px var(--colorFuenteOscura), 0 0 20px var(--colorFuenteOscura),
    0 0 30px var(--colorFuenteOscura);
  width: 90vw;
  position: relative;
}

.form__logo {
  margin-top: 10px;
  width: 100px;
  border-radius: 50%;
  right: calc(50% - 50px);
}

.form_style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
}

.form_style * {
  border-radius: 5px;
  border: transparent;
  padding: 10px 10px;
  color: var(--colorCinco);
  text-align: center;
}

.form_style input {
  margin: 10px 18px 0px 18px;
  max-width: 90%;
}

.form_style textarea, .form_style select {
  margin: 0px 18px 15px 18px;
  max-width: 90%;
}


.submit_btn {
  background-color: var(--colorSecundario);
  margin: 0px 18px 15px 18px;
  max-width: 90%;
  color: white;
  cursor: pointer;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .main__login__form {
    width: 75vw;
  
  }
  .main__login__section {
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .main__login__form {
    width: 50vw;
  
  }
}
