/* CONTENEDOR PRODUCTOS */
.main__productos{
    background-color: var(--colorCuatro);
}
.main__productos__section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }
/* CATEGORIAS TITULO */
.main__productos h3{
    text-align: center;
    color: var(--colorCinco);
    margin: 15px 0;
}
/* CATEGORIAS */
.home__main__categorias{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;

}
.main__productos__categ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    position: relative;
}
.main__productos__categ img{
    width: 31vw;
    height: 31vw;
    object-fit: cover;
    max-width: 240px;
    max-height: 240px;
    
}
.main__productos__categ p{
    position: absolute;
    bottom: 15.5vw;
    background-color: rgba(0, 0, 0, 0.425);
    color: white;
    width: 100%;
    text-align: center;
    padding: 15px 0;
}
/* TITULO PRODUCTOS */
.main__productos h1{
    color: var(--colorCinco);
    margin: 15px 0;
    text-transform: uppercase;
    text-align: center;
}
/* CADA CARD DE PRODUCTO */
.main__productos__producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color:var(--colorCinco);
    border-radius: 15px;
    margin: 20px 10px;
    color: white;
    border: 1px solid var(--colorCinco);
    box-shadow: 0 0 10px var(--colorCinco), 0 0 20px var(--colorCinco), 0 0 30px var(--colorCinco);
    width: 90vw;
    position: relative;
}

.main__productos__producto img{
    width:100%;
    height: 250px;
    background-size: cover;
    object-fit: cover;
    border-radius: 15px;

}
.main__productos__producto a{
    position: absolute;
    bottom: 65px;
    left: calc(50% - 75px);
    color: white;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.37);
    text-align: center;
    padding: 10px;
    border: 2px solid white;
}
/* MEDIA QUERIES */
@media (min-width:768px){
    .main__productos__producto{
        width: 45vw;       
    }
    .main__productos__categ p{
      bottom: 120px;
    }
}
@media (min-width:1024px){
    .main__productos__producto{
        width: 23vw;       
    }
    .main__productos__producto a{
        bottom: 95px;
    }
}