<%- include('./partials/head',{
    title: 'Login'
}) %> 

<body>
    <%- include('./partials/header') %> 
    <main class="main__productos">
        <!-- BARRA BUSQUEDA -->
        <%- include('./partials/busqueda') %> 
        <!-- TITULO -->
        <h1>Bienvenid@s</h1>
        <!-- LOGIN -->
        <section class="main__login__section">
            <article class="main__login__form">
                <img class="form__logo" src="/images/logo.png" alt="">
                <form action="login" class="form_style">
                    <input type="text" name="" placeholder="Nombre de usuario">
                    <input type="text" name="" placeholder="Contraseña">
                    <label for="RegContraseña"><input type="checkbox" name="" id="RegContraseña">¿Recordar Contraseña?</label>
                    <button class="submit_btn" type="submit">Iniciar Sesion</button>
                    <button class="submit_btn" type="submit">Registrarse</button>
                </form>

            </article>
        </section>
    </main>
    <%- include('./partials/footer') %> 
</body>

</html>