<article class="home__main__busq">
    <form action="/productos/buscar" method="get">
        <span>Buscar</span>
        <input type="text" name="busqueda" id="">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</article>