<footer class="footer">
    <!-- COLUMNAS INFO -->
    <section class="footer__section--info">
        <div>
            <h5 class="footer__section--h5">Contacto</h5>
            <p>+54 011 45621489</p>
        </div>
        <hr>
        <div id="dire">
            <h5 class="footer__section--h5">Dirección</h5>
            <p>Calle 123, San Santus</p>
        </div>
        <hr>
        <div>
            <h5 class="footer__section--h5">Horarios</h5>
            <p>Lun-Vie de 8 a 17hs</p>
        </div>
        <hr>
        <div class="footer__section--redes">
            <h5 class="footer__section--h5">Redes</h5>
            <a href="www.instagram.com" target="_blank"><i
                    class="fa-brands fa-instagram-square"></i><span>Instagram</span></a>
            <a href="http//:www.instagram.com" target="_blank"><i
                    class="fa-brands fa-twitter"></i><span>Twitter</span></a>
            <a href="http//:www.instagram.com" target="_blank"><i
                    class="fa-brands fa-facebook"></i><span>Facebook</span></a>
        </div>
    </section>
    <!-- COPYRIGHT + LOGO -->
    <section class="footer__section--copy">
        <a href="#top"><img src="/images/logo.jpg" alt=""></a>
        <p>Copyright 2022 - Dulce Canela</p>
    </section>
</footer>