<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo2.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/e0b4e5cac3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/card-tyle.css">   
    <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi"
    rel="stylesheet">

    <title>Dulce Canela: <%= title %> </title>

    

</head>